<div class="container-xxl container-one">
  <div class="row row-main">
    <div class="col-md-4">
      <div class="container support-container">
        <h4>Support Menu</h4>
        <hr class="title-hr" />
        <p>About Moe</p>
        <p>Contact Us</p>
        <p>My account</p>
        <p>Terms & Condition</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container contact-info">
        <h4>Contact Information</h4>
        <hr class="title-hr" />
        <h5>Address <i class="fas fa-map-marker-alt"></i></h5>
        <p>
          No. 1186, Pin Lon Road,<br />
          North-Dagon Township, Yangon
        </p>
        <h5>Phone Number <i class="fas fa-mobile-alt"></i></h5>
        <p>(+95) 09 880 578482</p>
        <h5>E-Mail Address <i class="fas fa-envelope"></i></h5>
        <p>
          moeonlinetraining@gmail.com, <br />
          support@myanmaronlineentrepreneur.com
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="container">
        <div class="text-center">
          <h4>
            Follow Us
          </h4>
        </div>
        <div class="row media-row">
          <div class="col text-center">
            <i class="fab fa-facebook"></i>
          </div>
          <div class="col text-center">
            <i class="fab fa-instagram"></i>
          </div>
          <div class="col text-center">
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-xxl container-two">
    <div class="text-center">
        <p>
            © Myanmar Online Entrepreneur. 2021 All Right Reserved. Powered by MISL.
        </p>
    </div>
</div>