<div class="container-xxl">
  <div class="card shadow-sm">
    <div class="row">
      <div class="col-md-5">
        <div class="container">
          <img
            src="../../assets/images/4cb7c77f8067cc1e2dfeaa3cc287e3c6.png"
            alt=""
          />
          <div class="text-center">
            <div class="hstack text-center">
              <div class="course">
                <h2>1</h2>
                <p>Course</p>
              </div>
              <div class="vr"></div>
              <div class="course">
                <h2>2</h2>
                <p>Completed</p>
              </div>
              <div class="vr"></div>
              <div class="course">
                <h2>2</h2>
                <p>Certificates</p>
              </div>
              <div class="vr"></div>
              <div class="course">
                <h2>50</h2>
                <p>Points</p>
              </div>
            </div>
          </div>
          <br />
          <h5>Name : John Weck</h5>
          <h5>Email : johnweck@gmail.com</h5>
          <h5>Phone : 09123456789</h5>

          <button type="button" class="btn btn-dark">Update</button>
          <br />
          <button type="button" class="btn btn-danger">Log Out</button>
        </div>
      </div>
      <div class="col-md-7">
        <h3>Your Courses</h3>
        <table class="table table-striped text-center">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Course</th>
              <th scope="col">Completed</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th>1</th>
              <td>Class SOS – Secrets of Online Sale</td>
              <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
              <th>2</th>
              <td>BMW</td>
              <td><i class="fas fa-check"></i></td>
            </tr>
            <tr>
              <th>3</th>
              <td>Facebook Marketing Strategy (FMS)</td>
              <td><i class="fas fa-times"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
